setuptools==65.5.1
wheel==0.45.1
pip==24.0
scikit-learn==1.7.2
smmap==5.0.2
pytz==2025.2
protobuf==6.32.1
python-dateutil==2.9.0.post0
platformdirs==4.4.0
threadpoolctl==3.6.0
packaging==25.0
annotated-types==0.7.0
idna==3.10
pandas==2.3.2
scipy==1.16.2
sentry-sdk==2.38.0
click==8.3.0
fire==0.7.1
tzdata==2025.2
PyYAML==6.0.2
urllib3==2.5.0
termcolor==3.1.0
typing-inspection==0.4.1
typing_extensions==4.15.0
charset-normalizer==3.4.3
gitdb==4.0.12
certifi==2025.8.3
numpy==2.3.3
wandb==0.22.0
joblib==1.5.2
python-dotenv==1.1.1
pydantic_core==2.33.2
six==1.17.0
GitPython==3.1.45
requests==2.32.5
pydantic==2.11.9
